<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification du post</title>

</head>
<body>
    <header>
        <nav>
            <ul class="nav-ul-1">
                <li> <a href="/" class="lien-nav">Accueil</a></li>
                <li><a href="/admin/panel/membres" class="lien-nav">Membres</a></li>
                <li><a href="/admin/panel/posts" class="lien-nav">Posts</a></li>
                <li><a href="/admin/panel/commentaires" class="lien-nav">Commentaires</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>