<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupomania</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="navBar">
            <div class="navLeft">
                <a href=""><img src="images/logo.jpg" alt=""></a>
            </div>
            <div class="navRight">
                <ul>
                    <a href="/"><li>Accueil</li></a>
                    <a href="/login"><li>Connexion</li></a>
                    <a href="/user/profil"><li>Profil</li></a>
                    <a href="/register"><li>Register</li></a>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="section-left">
            <div class="home-profil">
                <div class="img-profil">
                    <img src="images/man-g9f85c922a_1280.jpg" alt="">
                </div>
                <div class="text-profil">
                    <p>- Habite à Mulhouse</p>
                    <p>- Age</p>
                    <p>- Fonction</p>
                    <p>- En poste depuis le</p>
                </div>
            </div>
        </section>

        <section class="section-center">
            <div class="post">
                <div class="img-post">
                    <img src="images/galaxy-ga24eb4bb0_1280.jpg" alt="">
                </div>
                <div class="text-post">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quibusdam maxime assumenda voluptatem nemo autem ipsum repellendus dolorum labore sunt culpa quaerat accusamus blanditiis aperiam non unde deleniti dicta est aliquam rem, alias perspiciatis iusto quia? Rerum minus quos facere.</p>
                </div>
            </div>
        </section>

        <section class="section-right">

        </section>
    </main>

    <footer>

    </footer>

    <script src="script.js"></script>
</body>
</html>