<%- include ('include/headerpt1') %>
<title>Groupomania : Connexion</title>
<link rel="stylesheet" href="/css/login.css">
<%- include ('include/headerpt2') %>
    <main>
        

        <section class="section-center-login">
            
            <form action="login" name="Formulaire Login" method="post">
                <div class="contentlogin">
                    <h4 class="h4login">Email</h4>
                    <input class="inputtextlogin" id="inputlogemail"  name="email" type="email" pattern="^([\-._A-Za-z\d]{3,40})+@([a-zA-Z\d]{3,40})+\.([a-zA-Z\d]{3,20})$" required>
                    <h4 class="h4login">Mot de passe</h4>
                    <input class="inputtextlogin" id="inputlogpw" name="password" type="password" pattern="^[\-._a-zA-Z\d]{3,255}$" required>
                    <br>
                    <button id="buttonlog" href="/">Connexion</button>
                </div>
            </form>
           
        </section>
    </main>
</body>
</html>