<%- include ('include/headerpt1') %>
<title>Groupomania : Membres</title>
<link rel="stylesheet" href="/css/member.css">
<%- include ('include/headerpt2') %>

<main>
       <table>
        <thead>
            <tr>
                <th>Membres</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td></td>
            </tr>
        </tbody>
       </table> 
</main>