<%- include ('include/headerpt1') %>
<title>Groupomania : Profil</title>
<link rel="stylesheet" href="/css/profil.css">
<%- include ('include/headerpt2') %>

    <main>
        <section class="section-left">
        </section>
        <section class="section-center">
           
            <div class="headerprofil">
                <img class="bannerprofil" src="/profilimg/bannertest.jpg" alt="Bannière Profil">
                <img class="imgprofil" src="/images/man-g9f85c922a_1280.jpg" alt="">
                <div class="statsprofil">
                    <h4>Post</h4>
                    <h4>???</h4>
                    <h4>Commentaire</h4>
                    <h4>???</h4>
                    <h4>Like</h4>
                    <h4>???</h4>
                    
                </div>
                <div class="optionprofil">
                    <button class="buttonprofiloption">Post</h4>
                    <button class="buttonprofiloption">Commentaire</h4>
                    <button class="buttonprofiloption">Like</h4>
                </div>
            </div>
            <section class="mainprofil">
                <div class="divprofilpost"></div>
                <div class="divprofilcom"></div>
                <div class="divprofillike"></div>
            </section>
        </section>
        <section class="section-right">
            
        </section>


    </main>
    <footer></footer>
</body>
</html>