<%- include ('include/headerpt1') %>
<title>Groupomania : Register</title>
<link rel="stylesheet" href="/css/register.css">
<%- include ('include/headerpt2') %>

    <main>
        <section class="section-center-register">
            <form method="post" action="register" name="Formulaire register">
                <div class="contentregister">
                    <% if (AlerteMsg) {%>
                        <%= AlerteMsg %>
                    <% } else if (!AlerteMsg){%>
                    <%}%>
                    <h4 class="h4register">Firstname</h4>
                    <input class="inputtextregister" name="firstname"type="text" pattern="^[\-._a-zA-Z\d]{3,50}$" required>
                    <h4 class="h4register">Lastname</h4>
                    <input class="inputtextregister" name="lastname" type="text" pattern="^[\-._a-zA-Z\d]{3,50}$" required>
                    <h4 class="h4register">Email</h4>
                    <input class="inputtextregister" name="email" type="email" pattern="^([\-._A-Za-z\d]{3,40})+@([a-zA-Z\d]{3,40})+\.([a-zA-Z\d]{3,20})$" required>
                    <h4 class="h4register">Password</h4>
                    <input class="inputtextregister" name="password" type="password" pattern="^[\-._a-zA-Z\d]{3,255}$" required>
                    <h4 class="h4register">Password Confirm</h4>
                    <input class="inputtextregister" name="passwordconfirm" type="password" pattern="^[\-._a-zA-Z\d]{3,255}$" required>
                    <button id="buttonregister">Inscription</button>
                </div>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>