<%- include ('include/headerpt1') %>
<title>Groupomania : Shoutbox</title>
<link rel="stylesheet" href="/css/shoutbox.css">
<%- include ('include/headerpt2') %>

<main>
    <section class="section-left">

    </section>

    <section class="section-center">
        <div class="messageshoutbox">
        
            <button type="submit">Envoyer</button>
        </div>

    </section>
    <section class="section-right">

    </section>
</main>
</body>
</html>
