<link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header>
        <div class="navBar">
            <div class="navLeft">
                <a href="/"><img src="/images/logo.jpg" alt="Groupomania"></a>
            </div>
            <div class="navRight">
                <ul>
                    <%if(tokencookie) {%>
                    <% if (resultuser[0].Rang === 1) {%>
                        <a href="/admin/panel"><li>Admin</li></a>
                    <%}%>
                    <%}%>
                    <a href="/"><li>Accueil</li></a>
                    <a href="/user/members/all"><li>Members</li></a>
                    <% if (tokencookie) { %>
                    <a href="/user/profil/<%= IDUserJSON.Id %>"><li>Profil</li></a>
                    <% } %>
                    <% if (!tokencookie) { %>
                    <a href="/register"><li>Register</li></a>
                    <% } %>
                    <% if (!tokencookie) { %>
                    <a href="/login"><li>Connexion</li></a>
                    <% } %>
                    <% if (tokencookie) { %>
                    <a href="/user/parameter"><li><img alt="Photo de profil" class="imgnavpp" src="/images/<%=resultuser[0].Photoprofil%>"> <%= resultuser[0].Firstname + " " + resultuser[0].Lastname %></li></a>
                    <a href="/logout"><li>Deconnexion</li></a>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>