html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #4e5166;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.contentlogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    
}

.h4login {
    font-size: 2vh;
}

.section-center-login {
    background-color:  #b1b1b1dd;
    border-radius: 4vh;
    color: white;
}

.inputtextlogin {
    height: 9%;
    width: 60%;
}

#buttonlog {
    height: 4vh;
    width: 15vh;
    border-radius: 2vh;
    border-style: none;
    background-color: #FD2D01;
    color: white;
    font-size: 2.5vh;
}