table, td, th, thead {
    border-style: solid;
    border-width: 0.2vh;
    border-color: black;
}

.imgmemberpp {
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
}
table {
    width: 100%;
}

td, th {
    height: 5vh;
}

thead {
    height:7vh;
}